# [include fluidd.cfg]
# [include shell_command.cfg]
# This file contains common pin mappings for the BigTreeTech GTR.
# To use this config, the firmware should be compiled for the
# STM32F407 with a "32KiB bootloader".

# The "make flash" command does not work on the GTR. Instead,
# after running "make", copy the generated "klipper/out/klipper.bin" file to a
# file named "firmware.bin" on an SD card and then restart the GTR
# with that SD card.

[include mainsail.cfg]
# [include led_progress.cfg]
[include macros.cfg]

###############################
####      TITAN (RED)     #####
###############################
[virtual_sdcard]
path: /home/pi/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

[mcu]
# baud: 250000
serial: /dev/serial/by-id/usb-Klipper_stm32f407xx_btt-skr-pro-12-if00

# These are only safeguards for first time users
# Modify printer.cfg to tune acceleration.
[printer]
kinematics: corexy
max_velocity: 150
max_accel: 3000
max_accel_to_decel: 750
max_z_velocity: 10
max_z_accel: 100

[temperature_sensor bigtreetech_gtr]
sensor_type: temperature_mcu
min_temp: 0
max_temp: 90

[idle_timeout]
gcode:
  {% if printer.webhooks.state|lower == 'ready' %}
    {% if printer.pause_resume.is_paused|lower == 'false' %}
      M117 Idle timeout reached
      TURN_OFF_HEATERS
      M84
    {% endif %}
  {% endif %}
# 2 hour timeout
timeout: 7200

[temperature_sensor lenovo_x1]
sensor_type: temperature_host

[force_move]
enable_force_move: True

[heater_bed]
heater_pin: PD12
sensor_pin: PF4 # BED
min_temp: 0
max_temp: 120
pwm_cycle_time: 0.02 # 50hz for european AC, to avoid flickering lights.
sensor_type: EPCOS 100K B57560G104F
control: pid
pid_kp: 54.539
pid_ki: 1.352
pid_kd: 550.157
# pid_Kp=54.539 pid_Ki=1.352 pid_Kd=550.157
# pid_Kp=53.500 pid_Ki=1.173 pid_Kd=609.898
min_temp: 0
max_temp: 135

# Print cooling fan.
[fan]
pin: PE5
shutdown_speed: 1.0

[heater_fan heatbreak_cooling_fan]
pin: PC8
fan_speed: 1.0
heater_temp: 50.0

[controller_fan stepper_cooling]
pin: PE6
fan_speed: 0.6
stepper: stepper_x, stepper_y, stepper_z
idle_speed: 0

[output_pin bed_cooling_fan]
pin: PB0

[output_pin light_led]
pin: PD14
pwm: True
value: 0.2
cycle_time: 0.010

# [neopixel status_led]
# pin: PF13
# chain_count: 10
# color_order: GRB
# # Set the pixel order required by the LED hardware. Options are GRB,
# # RGB, BRG, GRBW, or RGBW. The default is GRB.
# # ADDRESSABLE Neopixel WS2812
# initial_RED: 0.0
# initial_GREEN: 0.5
# initial_BLUE: 0.0

[stepper_x]
step_pin: PE9
dir_pin: !PF1
enable_pin: !PF2
full_steps_per_rotation: 400
rotation_distance: 40 # 40 for 20 tooth 2GT pulleys, 32 for 16 tooth 2GT pulleys
microsteps: 16
homing_speed: 40
endstop_pin: tmc2209_stepper_x:virtual_endstop
homing_retract_dist: 0
position_endstop: 0 # Adjust this to your setup
position_max: 216
# endstop_pin: ^PF2

# [endstop_phase stepper_x]
# trigger_phase: 23/64

[stepper_y]
step_pin: PE11
dir_pin: !PE8
enable_pin: !PD7
full_steps_per_rotation: 400
rotation_distance: 40 # 40 for 20 tooth 2GT pulleys, 32 for 16 tooth 2GT pulleys
microsteps: 16
homing_speed: 40
endstop_pin: tmc2209_stepper_y:virtual_endstop
homing_retract_dist: 0
position_endstop: -30  # 300mm printer
position_max: 220
position_min: -30
# endstop_pin: ^!PC13

# [endstop_phase stepper_y]
# trigger_phase: 53/64

[stepper_z]
step_pin: PE13
dir_pin: PC2
enable_pin: !PC0
full_steps_per_rotation: 400
microsteps: 16
homing_speed: 8
rotation_distance: 4 # Sfu1204 Ballscrew has a 4mm lead size and can be considered as a single thread screw.
position_min: 0 # Needed for z-offset calibration and tilt_adjust.
position_max: 251
# position_max: 100
# endstop_pin: ^PE0
position_endstop: 251
# homing_positive_dir: false
endstop_pin: tmc2209_stepper_z:virtual_endstop
homing_retract_dist: 0

[stepper_z1]
step_pin: PE14
dir_pin: PA0
enable_pin: !PC3
full_steps_per_rotation: 400
microsteps: 16
# homing_speed: 10
rotation_distance: 4 # Sfu1204 Ballscrew has a 4mm lead size and can be considered as a single thread screw.
# position_min: 0 # Needed for z-offset calibration and tilt_adjust.
# position_max: 227.050
# position_max: 100
# endstop_pin: ^PE0
# position_endstop: 227
# homing_positive_dir: false
endstop_pin: tmc2209_stepper_z1:virtual_endstop
# homing_retract_dist: 0

# [endstop_phase stepper_z]
# trigger_phase = 55/64

[extruder]
step_pin: PD15
dir_pin: PE7
enable_pin: !PA3
full_steps_per_rotation: 200
microsteps: 16
rotation_distance: 3.4334
# rotation_distance: 2.81998
nozzle_diameter: 0.500
filament_diameter: 1.750
heater_pin: PB1 # Heat0
sensor_pin:  PF3 # T0 Header
sensor_type: EPCOS 100K B57560G104F
control: pid
pid_kp: 19.981
pid_ki: 0.888
pid_kd: 112.392
# pid_Kp=19.981 pid_Ki=0.888 pid_Kd=112.392
# pid_Kp=22.736 pid_Ki=1.274 pid_Kd=101.457
# pid_Kp=17.343 pid_Ki=0.466 pid_Kd=161.287
min_temp: 0
max_temp: 270
min_extrude_temp: 10
max_extrude_only_distance: 150.0
# pressure_advance: 0.0161
# max_extrude_only_velocity: 0

[firmware_retraction]
retract_length: 0.5
#   The length of filament (in mm) to retract when G10 is activated,
#   and to unretract when G11 is activated (but see
#   unretract_extra_length below). The default is 0 mm.
retract_speed: 4
#   The speed of retraction, in mm/s. The default is 20 mm/s.
unretract_extra_length: 0.5
#   The length (in mm) of *additional* filament to add when
#   unretracting.
unretract_speed: 4
#   The speed of unretraction, in mm/s. The default is 10 mm/s.

[tmc2209 stepper_x]
uart_pin: PC13
diag_pin: ^PB10
driver_SGTHRS: 120  # 255 is most sensitive value, 0 is least sensitive
run_current: 1.36
stealthchop_threshold: 999999 # This disables stealthchop, on it can reduce accuracy and the noise is minimal.

[tmc2209 stepper_y]
uart_pin: PE3
diag_pin: ^PE12
driver_SGTHRS: 120
run_current: 1.36
stealthchop_threshold: 999999

[tmc2209 stepper_z]
uart_pin: PE1
diag_pin: ^PG8
driver_SGTHRS: 120
run_current: 1.36
stealthchop_threshold: 0

[tmc2209 stepper_z1]
uart_pin: PD4
diag_pin: ^PE15
driver_SGTHRS: 120
run_current: 1.36
stealthchop_threshold: 0

[tmc2209 extruder]
uart_pin:  PD1
run_current: 0.8
stealthchop_threshold: 0

# [endstop_phase]

# Safe Z Home (Physical endstops only)
# [safe_z_home]
# home_xy_position: 5,5 # 250mm printer
# speed: 10.0
# z_hop: 0.0

[homing_override]
axes: xyz
gcode:
  {% set home_all = 'X' not in params and 'Y' not in params and 'Z' not in params %}

  {% if home_all or 'X' in params %}
    _SENSORLESS_HOME_X
  {% endif %}
  
  {% if home_all or 'Y' in params %}
    _SENSORLESS_HOME_Y
  {% endif %}
  
  {% if home_all or 'Z' in params %}
    _SENSORLESS_HOME_Z
  {% endif %}

[pause_resume]
recover_velocity: 50
#   When capture/restore is enabled, the speed at which to return to
#   the captured position (in mm/s). Default is 50.0 mm/s.

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PC11, EXP1_3=PC10, EXP1_5=PG8, EXP1_7=PG6, EXP1_9=<GND>,
    EXP1_2=PA15, EXP1_4=PA8, EXP1_6=PG7, EXP1_8=PG5, EXP1_10=<5V>,
    # EXP2 header
    EXP2_1=PB14, EXP2_3=PD10, EXP2_5=PH10, EXP2_7=PB10,  EXP2_9=<GND>,
    EXP2_2=PB13, EXP2_4=PB12, EXP2_6=PB15, EXP2_8=<RST>, EXP2_10=<NC>
    # not sure on this: Pins EXP2_1, EXP2_6, EXP2_2 are also MISO, MOSI, SCK of bus "spi2"

# SET_STEPPER_ENABLE STEPPER=stepper_z ENABLE=1

[gcode_shell_command speak_print_start]
command: mpg123 /home/cwe3d/printer_data/config/voice/start.mp3
timeout: 6.
verbose: False

[gcode_shell_command speak_print_finish]
command: mpg123 /home/cwe3d/printer_data/config/voice/finish.mp3
timeout: 6.
verbose: False

[gcode_shell_command speak_print_filement_change]
command: mpg123 /home/cwe3d/printer_data/config/voice/fillament_change.mp3
timeout: 6.
verbose: False

[respond]
